<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387202563418-k1j6f448rp1n5d7upjhjgam6mcsa68iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387202563418-k1j6f448rp1n5d7upjhjgam6mcsa68iv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387202563418-5tfg08dkt7efbu6t783074r9io9u6dma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4UaRrePlWB1VIqH5GqsqUSome4NVMJWk</string>
	<key>GCM_SENDER_ID</key>
	<string>387202563418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gesbuk.user</string>
	<key>PROJECT_ID</key>
	<string>gesbuk-58f74</string>
	<key>STORAGE_BUCKET</key>
	<string>gesbuk-58f74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387202563418:ios:18fd4f7afd299967ed8763</string>
</dict>
</plist>